body {
    background-color: rgb(255, 236, 149);
    margin: 1in;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-style:bold;
}
h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-style:bold;
}
p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-style:bold;
}
ul {
    text-align: center;
    color: rgb(0, 0, 0);   
    display:inline;
    display: table;
    margin:0 auto;
    font-style:bold;
}
