body {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(204, 0, 255));
    color: rgb(0, 0, 0);
    margin: 1in;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}
h3 {
				text-align: center;
                color: rgb(0, 0, 0);
}
h4 {
				text-align: center;
                color: rgb(0, 0, 0);
}
p {
    text-align: center;
    color: rgb(0, 0, 0);
}
ul {
    text-align: center;
    color: rgb(0, 0, 0);   
    display:inline;
    display: table;
    margin:0 auto;
}
