  table,
        th,
        td {
            border: 1px solid black;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        body {
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
            ;
            color: white;
          font-family: 'Marvel';font-size: 22px;
        }

        h1 {
            text-align: center;
            color: white;
        }

        h2 {
            text-align: center;
            color: white;
        }

        h3 {
            text-align: center;
            color: white;
        }

        h4 {
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #808080;
            text-align: center;
            color: white;
        }

        th:nth-child(even),
        td:nth-child(even) {
            background-color: #808080;
            text-align: center;
            color: white;
        }

        tr:nth-child(odd) {
            background-color: #808080;
            text-align: center;
            color: white;
        } 
